<% content_for :class, :about %>

<div class="mainTaskHeader">
  <h2>About</h2>
</div>
<p>
  Transparency Corps is a project of the Sunlight Foundation. Our work is committed to helping citizens, bloggers and journalists be their own government watchdogs, by improving access to existing information, digitizing new information, and by creating new tools and Web sites to enable all of us to collaborate in fostering greater transparency.
</p>

<p>
  Transparency Corps allows anyone anywhere to have a positive impact on making our government more transparent by aggregating small actions that require human intelligence but not specialized political knowledge.
</p>