- content_for :class, :about

.mainTaskHeader
  %h2 About
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id urna ut nibh tincidunt sodales. Pellentesque vitae turpis sit amet odio imperdiet suscipit. Suspendisse ornare. In imperdiet mauris sed nibh. Maecenas lacinia, sem in aliquam tempor, dolor nibh tincidunt nisi, a adipiscing justo neque in nibh. Donec leo felis, gravida nec, gravida ut, porta vitae, elit. Cras vitae magna. Fusce aliquam orci vitae est. Nunc eget leo vitae tortor lacinia tincidunt. Nullam quis enim a odio tristique aliquam.