<% content_for :class, :contact %>

<div class="mainTaskHeader">
  <h2>Contact Us</h2>
</div>

<p>
  Have an idea for how to make Transparency Corps better?  Have a task related to government transparency that the Transparency Corps community could solve? Want to learn more about Transparency Corps or have a brilliant thought to share? Send us a note.  We love new people and ideas!
</p>

<% form_tag '', :method => :post, :id => "contactForm" do %>
	
  <% if @error_messages %>
    <div class="contact_form_validation">
      <%= @error_messages %>
    </div>
  <% end %>
  
  <ul>
    <li>
      <label for='name'>Name</label>
      <input id="name" class="text" type="text" name="name" size="32" />
    </li>
    <li>
      <label for='email'>Email</label>
      <input id="email" class="text" type="text" name="email" size="32" />
    </li>
    <li>
      <label for="message">Your Inquiry</label>
      <textarea id="message" class="textarea" name="message" cols="32" rows="5"></textarea>
    </li>
  </ul>
  <button class="submitBtn" type="submit">
    <span>Submit</span>
  </button>
<% end %>

<p>
  Are you a reporter? Probably don't want to fill out that form, huh. You should call our communications director:
  <br/><br/>
  Gabriela Schneider<br/>
  (202) 742-1520 ext 236
</p>