<% content_for :class, :home %>
<% content_for :header, :banner %>
<% content_for :sidebar, :user_sidebar %>

<div class="mainTaskHeader">
  <h2>Welcome</h2>
  <div class="clear"></div>
</div>

<%= render :partial => 'campaigns/index', :locals => {:campaigns => @campaigns} %>