<% content_for :class, :tasks %>
<% content_for :header, :scoreboard %>
<% content_for :hide_sidebar, true %>

<div class="mainTaskHeader withRSS">
	<h2>Tasks</h2>
	<a class="rssIcon" href="http://transparencycorps.org/campaigns.xml">Keep up to Date</a>
	<div class="clear"></div>
</div>	

<%= render :partial => 'campaigns/index', :locals => {:campaigns => @campaigns} %>