<% content_for :class, :tasks %>
<% content_for :header, :scoreboard %>
<% content_for :hide_sidebar, true %>

<div class="mainTaskHeader">
	<h2>Tasks</h2>
	<div class="clear"></div>
</div>	

<%= render :partial => 'campaigns/index', :locals => {:campaigns => @campaigns} %>