<div id="featureSection">
  <div id="featureText">
    <h2>
      Help Us Make the Government
      <br/>
      More Transparent
    </h2>
  </div>
  <%= link_to 'Get Started', register_path %>
</div>