<div id="featureSection">
  <div id="featureText">
    <h2>
      Help Us Make the Government
      <br/>
      More Transparent
    </h2>
    <p>
      In 5 minutes or less, your small action can have a BIG impact on government.
    </p>
  </div>
  <%= link_to 'Get Started', logged_in? ? campaigns_path : register_path %>
</div>