<div id="featureSection">
  <div id="featureText">
    <h2>Help Us Make the Government More Transparent</h2>
    <p>Transparency Corps is the Sunlight Foundation's answer to the question, "How can I help?".</p>
	<p>There are many big problems that we can solve with technology, but we can't solve them all. For many of the projects that make government transparency a reality, human eyes and analysis are required. With Transparency Corps, we break those tasks down into short, small actions that make a BIG difference. Join the Corps, and let's get started!</p>
  </div>
  <%= link_to 'Get Started', logged_in? ? campaigns_path : register_path %>
</div>