<div id="featureSection">
  <div id="featureText">
    <h2>
      Help Us Make the Government
      <br/>
      More Transparent
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id urna ut nibh tincidunt sodales. Morbi ligula ipsum, dapibus non, vehicula et, suscipit at, mauris.
    </p>
  </div>
  <%= link_to 'Get Started', register_path %>
</div>