<% if object.respond_to?(:errors) and object.errors.any? %>
  <div class="errors <%= object.class.to_s.underscore %>">
    <% object.errors.full_messages.each do |message| %>
      <div class="error">
        <%= period message %>
      </div>
    <% end %>
  </div>
<% end %>