<h3>Stats</h3>
<ul>
  <li>
    <span><%= current_user.campaigns_percent_complete %>%</span>
    <p>all tasks complete</p>
  </li>
  <li>
    <span><%= current_user.campaigns_participants_count %></span>
    <p>people participating</p>
  </li>
  <li>
    <span><%= current_user.campaigns_completed_tasks_count %></span>
    <p>tasks completed</p>
  </li>
  <li>
    <span><%= to_hours current_user.campaigns_elapsed_seconds %></span>
    <p>hours spent on tasks</p>
  </li>
</ul>