<h3>Stats</h3>
<ul>
  <li>
    <span>45%</span>
    <p>all tasks complete</p>
  </li>
  <li>
    <span>5</span>
    <p>people participating</p>
  </li>
  <li>
    <span>10</span>
    <p>tasks completed</p>
  </li>
  <li>
    <span>2:00</span>
    <p>time spent on tasks</p>
  </li>
</ul>