<h3>Stats</h3>
<ul>
  <li>
    <span><%= Campaign.percent_complete %>%</span>
    <p>all tasks complete</p>
  </li>
  <li>
    <span><%= User.participants.all.size %></span>
    <p>people participating</p>
  </li>
  <li>
    <span><%= Task.completed.count %></span>
    <p>tasks completed</p>
  </li>
  <li>
    <span>2:00</span>
    <p>time spent on tasks</p>
  </li>
</ul>