<h3 class="space">Top Members</h3>
<ul id="newMembers">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.avatar.url(:normal) %>
      <span class="leaderName"><%= h user.login %></span>
	  <span class="leaderPoints"><%= user.sum_points %> pts</span>
    </li>
  <% end %>
</ul>