#featureSection
  #featureText
    %h2 
      Help Us Make the Government
      %br
      More Transparent
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id urna ut nibh tincidunt sodales. Morbi ligula ipsum, dapibus non, vehicula et, suscipit at, mauris.
  = link_to 'Get Started', login_path