<style> @import 'http://www.clickpass.com/stylesheets/container.css'; </style>
<div id="clickpass_button" style="width: 176px; height: 28px; position: relative; z-index : 9999 ;">
  <iframe src="http://www.clickpass.com/embedded_buttons/login-standard/<%= CLICKPASS_SITE_KEY %>" width="176" height="28" frameborder="0" allowtransparency="true" scrolling="no" style="z-index:9999;position: absolute; top: 0; left: 0;"></iframe> 
</div>
<script type="text/javascript" src="http://www.clickpass.com/javascripts/ClickpassPanel.class.external.js?v1"></script>
<script type="text/javascript">  
      var clickpassPanel = new ClickpassPanel('clickpass_button');   </script>