<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='' name='keywords' />
    <meta content='' name='description' />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Transparency Corps</title>
    
    <%= stylesheet_link_tag 'style' %>
  </head>
  
  <body class="task">
    <%= yield %>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-1265484-42");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>